* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    ;
}

:root {
    --main-color: #8f1919dc;
    --font-color: #303030e7;
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.globalContainer {
    display: grid;
    grid-template-rows: 93% 7%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

#overlay {
    position: absolute;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 15px;
    z-index: 5;
    display: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.modal__close {
    text-align: right;
    font-size: 30px;
}

.modal__close::before {
    content: "x";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

#modal__title {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
}

.navbar {
    background-color: var(--main-color);
}

.nav__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    height: 100%;
}

.view_client_info {
    cursor: pointer;
}

.nav__item {
    color: white;
    cursor: pointer;
}

h2 {
    font-size: 25px;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: bolder;
}

.data_view_container {
    display: grid;
}

.data_view_container__header {
    background-color: var(--main-color);
    padding: 15px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

.new_client {
    width: 50%;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.new_debt {
    cursor: pointer;
}

.btn {
    background-color: var(--main-color);
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.btn--white {
    background-color: white;
    color: var(--main-color);
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.form-control label {
    font-weight: bolder;
    color: var(--font-color);
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid var(--main-color);
    padding-left: 8px;
    font-size: 20px;
}

.form label {
    margin-bottom: 15px;
}

.form .btn {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 7px;
    cursor: pointer;
}

.data_view_container__header h2 {
    color: white;
}

.amount,
.amount span {
    font-style: normal;
    font-size: 25px;
}

.data__client {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 5px 15px 0px 15px;
}

.client_container h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}

.client_container {
    height: 500px;
    padding: 15px;
}