* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    ;
}

:root {
    --main-color: #8f1919dc;
    --font-color: #303030e7;
}

.globalContainer {
    display: grid;
    grid-template-rows: 93% 7%;
    height: 100vh;
}

.navbar {
    background-color: var(--main-color);
}

.nav__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    height: 100%;
}

.view_client_info {
    cursor: pointer;
}

.nav__item {
    color: white;
    cursor: pointer;
}

h2 {
    font-size: 25px;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: bolder;
}

.data_view_container {
    display: grid;
}

.data_view_container__header {
    background-color: var(--main-color);
    padding: 15px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.new_client {
    width: 50%;
    border-radius: 15px;
    border: none;
    text-align: center;
}

.data_view_container__header h2 {
    color: white;
}

.amount,
.amount span {
    font-style: normal;
    font-size: 25px;
}

.data__client {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 15px;
}

.client_container h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}

.client_container {
    height: 500px;
    padding: 15px;
}